{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section class="content d-flex w-100 m-auto flex-column align-items-center justify-content-start justify-self-center">
    <div class="position-relative" style="">
        <div class="position-absolute top-50 start-50 translate-middle">
            <form action="auth/login" method="post" style="width: 200px">
                <h2 class="text-center">Sign in</h2>
                <select class="form-select mb-3" aria-label="Choose user" name="firstname" required>
                    <option selected disabled value="">Choose user</option>
                    {% for user in users %}
                        <option value='{{ user["firstname"] }}'>{{ user["firstname"] }}</option>
                    {% endfor %}
                    </select>
                    
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
</section>
</div>
{% endblock %}