{% extends 'base.html' %}

{% block header %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <p>Hello, {{ current_user }}</p>
    <div class="col-md-3 text-end">
        <a href="{{ url_for('menu.show_menu') }}" class="text-decoration-none"> 
            <button type="button" class="btn btn-outline-primary me-2">Back</button>
        </a>
    </div>
    <div class="col-md-3 text-end">
        <a href="{{ url_for('login.logout') }}" class="text-decoration-none"> 
            <button type="button" class="btn btn-outline-primary me-2">Logout</button>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Firstname</th>
            {% for tool in tools %}
                <th>{{ tool["toolname"] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            {% if not user["admin_rights"] %}
                <tr>
                    <th>
                        {{ user["firstname"] }}
                    </th>
                    {% for tool in users_tools[user["firstname"]] %}
                        <td>
                            {{ tool["ammount"] }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}